#members-table_length
	float: left

#dataTables_filter
	float: right

#members-table_info
	float: left

#members-table_paginate
	float: right

	#members-table_previous
		padding-right: 5px
		cursor: pointer

	#members-table_next
		padding-left: 5px
		cursor: pointer